<!DOCTYPE html>
<html>
  <head>
    <title>Dungeon Messages</title>

    <style>
      h1 {
        font-family: 'Stencil Std', fantasy;
      }

      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: Arial, Helvetica, sans-serif;
        margin: 12px 0px 0px 0px;
        padding: 0px;
      }

      p {
        margin: 0px;
        padding: 0px;
      }

      div {
        font-family: Helvetica;
        border: none;
        background-color: rgb(197, 197, 197);
        margin: 20px;
        padding: 15px;
        border-radius: 15px;
      }

      .message_container {
        background-color: rgb(184, 184, 184);
      }

      .message-row input[type='text'] {
        flex: 1;
        padding: 12px 20px;
        width: 40rem;
        height: 30rem;
        margin-bottom: 500px;
        border: 1px solid #090909;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #fff;
      }

      .message-row button {
        padding: 12px 20px;
        background-color: #090909;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      input[name='userName'],
      select {
        width: 30%;
        padding: 0px 20px;
        margin: 8px 0;
        display: block;
        border: 1px solid #090909;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #fff;
      }

      .message-row textarea {
        flex: 1;
        padding: 12px 20px;
        width: 40rem;
        height: 10rem;
        border: 1px solid #090909;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #fff;
        resize: both; /* allows vertical and horizontal resizing */
      }
    </style>
  </head>

  <body style="background-color: #f1f1f1">
    <h1>Dungeon Messages</h1>
    <div class="message_container">
      <% data.forEach(element=> { %>
      <div>
        <p>
          <strong><%= element.userName %>: </strong><pre style="display:inline; white-space:pre-wrap;"><%= element.userMessage %></pre>
        </p>

      </div>

      <% }) %>
    </div>

    <h1>Add Message</h1>

    <form action="/" method="post">
      <div class="message-row">
        <textarea placeholder="Message" name="userMessage"></textarea>
        <button type="submit">Send</button>
      </div>
      <input type="text" placeholder="User Name" name="userName" />
      <button type="submit">Send</button>
    </form>
  </body>
</html>
