<!DOCTYPE html>
<html>
  <head>
    <title>ChatRoom</title>

    <style>
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: Arial, Helvetica, sans-serif;
        margin: 12px 0px 0px 0px;
        padding: 0px;
      }

      p {
        margin: 0px;
        padding: 0px;
      }

      div {
        font-family: Helvetica;
        border: 2px solid #0d0d0c;
      }
    </style>
  </head>

  <body style="background-color: rgb(226, 217, 227)">
    <h1>ChatRoom</h1>
    <% data.forEach(element=> { %>
    <div>
      <h4><%= element.userName %></h4>

      <p><%= element.userMessage %></p>
    </div>

    <% }) %>

    <h1>Add Message</h1>

    <form action="/" method="post">
      <input type="text" placeholder="User Name" name="userName" />
      <input type="text" placeholder="Message" name="userMessage" />
      <button type="submit">Send</button>
    </form>
  </body>
</html>
